
    <div class="main">
        <div class="inline-b tables with-shadow" >
            {{waitIdArrey}}
            <div class="table-group clearfix" ng-repeat="tablegroup in tableInfo">
                <div class="panel-title">{{tablegroup.groupName}}</div>
                <div ng-repeat="tableTemp in tablegroup.tables" class="table-item {{(tableTemp.tableStatus==='2')?'gray':'blue'}}">
                    <div class="remind-tab" ng-show="tableTemp.tableMsg" ng-click="getmsg(tableTemp.tableID)">
                        <div class="arrow"></div>
                        ...
                    </div>

                    <div class="btn btn-info operation-btn">
                        <div ng-show="(tableTemp.tableStatus === '2')" ng-click="opentable(tableTemp.tableID)">
                            开桌
                        </div>
                        <div ng-show="(tableTemp.tableStatus !== '2')" ng-click="closetable(tableTemp.tableID)" data-toggle="modal" data-target=".bs-example-modal-lg">
                            结账
                        </div>
                    </div>

                    <div class="table-name" ng-click="getmenu(tableTemp.tableID)">{{tableTemp.tableNum}}</div>

                </div>
            </div>
        </div>




        <div class="inline-b left-content with-shadow">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li role="presentation" class="themenu active"><a id="menu-tab" href="#themenu" role="tab" data-toggle="tab">菜单管理</a></li>
                <li role="presentation" class="message"><a id="message-tab" href="#message" role="tab" data-toggle="tab">消息管理</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="themenu">
                <div class="background-w">

                    <ul class="list-group">
                        <li class="list-group-item">{{currentTableName}}</li>
                        <li class="list-group-item">订单号：{{tablemenu.number}}</li>
                        <li class="list-group-item" ng-repeat="menu in tablemenu.data">
                            <span class="badge">{{menu.count}}</span>
                            <span class="label label-info">&yen;{{menu.price}}</span>{{menu.dishesName}}
                        </li>
                        <li class="list-group-item">总价格：&yen;{{tablemenu.totalPrice}}</li>
                    </ul>

                </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="message">
                    <div class="background-w">

                        <ul class="list-group">
                            <li class="list-group-item">{{currentTableName}}</li>
                            <li class="list-group-item" ng-repeat="msg in tablemsg">
                                {{msg.content}}<div class="btn btn-danger fr" ng-click="delmsg(msg.id,$index)">删除</div>
                            </li>
                            <li class="list-group-item" ng-show="tablemsg.length"><div class="btn btn-danger fr" ng-click="clearmsgall()">清空全部</div> </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--结账模态框-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="background-w jiezhang-modal">

                    <ul class="list-group">
                        <li class="list-group-item">订单号：{{tablemenu.number}}</li>
                        <li class="list-group-item" ng-repeat="menu in tablemenu.data">
                            <span class="badge">{{menu.count}}</span>
                            <span class="label label-info">&yen;{{menu.price}}</span>{{menu.dishesName}}
                        </li>
                        <li class="list-group-item">总价格：&yen;{{tablemenu.totalPrice}}</li>
                    </ul>

                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info dayincaidan" data-dismiss="modal" ng-click="printMenu()">打印菜单小票/并关桌</button>
            </div>
        </div>
    </div>
