<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="diancanApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div class="container with-shadow" ng-controller="header-nav" id="my-outer">
      <div class="niv clearfix with-shadow">
          <h3 class="navbar-text" ng-click="print()">欢迎来到多益点后台！</h3>
          <ul class="nav nav-pills pull-left" ng-show="logined">
              <li class="business-mng"><a ng-href="#/main">营业管理</a></li>
              <li class="setting-page"><a ng-href="#/about">设置页面</a></li>

              <li>
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                      其它
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                  </ul>
              </li>
              <h4 class="page-title"></h4>
          </ul>

          <li class="inline-b user-name">{{$storage.accountId}}{{$storage.name}}</li>
          <li class="inline-b test fr btn btn-info" ng-click="testconnect()">刷新连接</li>
          <li class="inline-b test fr btn btn-info">{{tiaoshiyong}}</li>
          <!--<li class="inline-b test fr btn btn-info" id="aaaaaaa">aaaaaa</li>-->



      </div>
      <div ng-view=""></div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the colgar team</p>
      </div>

        <!--消息提示标签-->
        <div class="msg-show">{{message}}</div>
        <!--消息提示框-->
        <div class="modal fade bs-example-modal" id="askmsg-show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="background-w jiezhang-modal">
                        <br/>
                        <br/>
                        打印机停止打印，请检查打印机，<br/>
                        确认无误后再操作！
                        <br/>
                        <br/>
                    </div>
                    <button type="button" class="btn btn-info dayincaidan" data-dismiss="modal" ng-click="goAhead()">继续</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngSocket/dist/ngSocket.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <!-- endbuild -->
<script type="text/javascript">

    function calledTest(msg){
        alert('打印了这样的信息：'+msg);
        var scope = angular.element($("#my-outer")).scope();
        scope.safeApply(function(){
            scope.printBackMsg(msg);
        })
    }
</script>
</body>
</html>
